@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<form action="/Home/Index" enctype="multipart/form-data" method="post">
  <label for="file">File</label>
  <input type="file" class="form-control" name="file" />
  <button type="submit" class="btn btn-default">Submit</button>
</form>
